body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo {
    height: 40px; /* Sesuaikan ukuran logo */
}
